@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Orbitron&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Orbitron', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

/*Sunny Sky Css*/
	
	.sun{
		position: absolute;
		top: 100px;
		left: 400px;
		width: 100px;
		height: 100px;
		background-color: #ffc300;
		border-radius: 50%;
		z-index: 1000;
		box-shadow: 0 0 0 20px #ffc30080, 0 0 0 40px #ffc30040, 0 0 0 60px #ffc30020; 
	}

/*Starry Night Sky Css*/

	.sceneDayNight{
		position: relative;
		width: 100%;
		height: 100vh;
		background: linear-gradient(#111425,#3751e0);
		background-attachment: fixed;
		overflow: hidden;
	}

	.sceneDayMidday{
		position: relative;
		width: 100%;
		height: 100vh;
		background: linear-gradient(#ff9500,#ffb700,#ffea00);
		background-attachment: fixed;
		overflow: hidden;

	}

	.sceneDaylight{
		position: relative;
		width: 100%;
		height: 100vh;
		background: linear-gradient(#4ea8de,#72efdd,#80ffdb,#f7fff7);
		background-attachment: fixed;
		overflow: hidden;

	}

	.moon{
		position: absolute;
		top: 100px;
		left: 400px;
		width: 100px;
		height: 100px;
		background-color: #fff;
		border-radius: 50%;
		z-index: 1000;
	}

	.moon:after{
		content: '';
		position: absolute;
		top: -15px;
		left: 15px;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: linear-gradient(#111425,#3751e0);
		background-attachment: fixed;
	}

	.forest{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		transform: scale(1.2);
	}

	.scene i{
		position: absolute;
		width: 100%;
		background-color: #fff;
		border-radius: 50%;
		animation: animate linear infinite;
	}

	@keyframes animate{
		0%{
			opacity: 0;
			transform: translateY(0);
		}

		10%, 90%{
			opacity: 1;
		}

		100%{
			opacity: 0;
			transform: translateY(-100px);
		}
	}


h2{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	display: inline-block;
	color: #B7094C;
	text-shadow: 0.5px 1px #fff;
	height: 70px;
	font-size: 2rem;
}


/*Digital Clock design*/

	#digitalClock{
		display: flex;
		justify-content: center;
		color: #fff;
		font-size: 4rem;
		margin-top: 300px;
		text-shadow: 6px 0px #a01a58;
	}

/*Responsive maken*/

	@media only screen and (max-width: 960px) {
		#digitalClock{
			font-size: 3.3rem;
			margin-top: 250px;
		}

		.moon{
			left: 200px;
		}

		.sun{
			left: 200px;
		}
		
	}

	@media only screen and (max-width: 670px) {
		#digitalClock{
			font-size: 3rem;
			margin-top: 350px;
		}

		.moon{
			left: 115px;
		}

		.sun{
			left: 115px;
		}
	}

	@media only screen and (max-width: 500px) {
		#digitalClock{
			font-size: 2.8rem;
			margin-top: 400px;
		}

		.moon{
			left: 95px;
		}

		.sun{
			left: 95px;
		}
	}

	@media only screen and (max-width: 375px) {
		#digitalClock{
			font-size: 2rem;
		}

		.moon{
			left: 75px;
		}

		.sun{
			left: 75px;
		}
	}